.bigCard {
  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  border-radius: 0 !important;
  border-width: 2px;
  border-color: #434B54;
  height: 240px;
  overflow-y: auto;
}

.card {
  &:hover {
    background-color: #bbb;
  }
  border-bottom-width: 2px;
  border-radius: 0 !important;
}

.truncate {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}