.toolbar {
  height: 175px;
  max-width: 1024px;
  width: 1024px;
}

.logo {
  border-radius: 75px;
}

.title {
  padding: 10px;
  font-size: 37px;
}

.menuName {
  padding: 10px;
  color: white;
}

.fontBold {
  font-weight: bold !important;
}